<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="inputform">
                    <input id="location" type="text" name="location" placeholder="Enter location">
                    <input id="date" type="date" name="date" required>
                    <input type="submit" value="submit">
                </form>
            <section>

        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
        /*if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }*/
    </script>
    </body>
</html>
