header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #0A3D62;
    //border: 3px solid yellow;
    color: white;
    grid-area: hd;
}
.logo{
    border: 3px solid white;
    margin: 5px;
}


